<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
      </div>
      <div>
        <button mat-raised-button color="primary" class="add" (click)="openZoneForm()">Add a DNS Zone</button>
        <button mat-raised-button color="primary">Edit</button>
      
        <table class="table table-striped">
          <thead>
              <tr>
                <th>Zone</th>
                <th>Comment</th>
                <th>Type</th>
                <th>Site</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let zone of Zones">
              <td>{{ zone.name }}</td>
              <td>{{ zone.comment }}</td>
              <td>{{ zone.type }}</td>
              <td>{{ zone.id }}</td>
              <button mat-raised-button color="primary" (click)="deleteRow(zone)">Delete</button>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
