<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="../../assets/img/ib_logo.png" alt="DNS">
        <div class="card-body">
          <h4 class="card-title">DNS</h4>
          <p class="card-text">Quickly create NIOS Grid on the go.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      </div>
      <div class="col-md-12">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top" src="../../assets/img/ib_logo.png" alt="DHS">
          <div class="card-body">
            <h4 class="card-title">Add a Network</h4>
            <p class="card-text">Quickly create NIOS Grid on the go.</p>
            <a href="#" class="btn btn-primary">Reaxxd More</a>
          </div>
        </div>
        </div>
    </div>
  </div>

